#carosul-bg{
    background-color: rgba(245, 215, 201, 0.993);
}
#carousl-slider-icn{
    background-color: rgb(235, 175, 175);
}

#spaical-color{
    color: rgba(237, 194, 174, 0.993);
}

#hr-border{
    border: 2px solid rgba(237, 194, 174, 0.993);
    color: rgba(237, 194, 174, 0.993);
}

#footer-p{
    font-size: 13px;
}


